<VirtualHost *:80>
   ServerName {{rails_app_domain}}
   # !!! Be sure to point DocumentRoot to 'public'!
   DocumentRoot {{rails_app_root}}/public
   <Directory /somewhere/public>
      # This relaxes Apache security settings.
      AllowOverride all
      # MultiViews must be turned off.
      Options -MultiViews
   </Directory>
</VirtualHost>
