# Configuration files
provisioning/group_vars/all.yml
provisioning/group_vars/src.yml
provisioning/roles/web/vars/main.yml

# Source file downloads
provisioning/src_files

# Generic ignores
.vagrant
*.bak
.DS_Store
