# Configuration files
provisioning/group_vars/all.yml
provisioning/group_vars/all.yml.env_*
provisioning/group_vars/src.yml
provisioning/group_vars/sudo.yml
provisioning/roles/web/vars/main.yml

# Source file downloads
provisioning/src_files

# Generic ignores
.vagrant
*.bak
.DS_Store

# Test hosts
provisioning/hosts/centos6
provisioning/hosts/centos5

# Other hosts
provisioning/hosts/*.host
provisioning/hosts/*.hosts
