---
####################
# Apache Variables #
####################

httpd:
  port:   8080 # 80
  domain: "{{ansible_fqdn}}" # "domain.tld", "example.com", "sub.domain.tld", "192.168.0.42"
  paths:
    root:            "{{STOW_PATH}}/.."
    conf:            "{{STOW_PATH}}/../conf"
    httpd_conf:      "{{STOW_PATH}}/../conf/httpd.conf"
    ssl_conf:        "{{STOW_PATH}}/../conf/extra/httpd-ssl.conf"
    htdocs:          "{{STOW_PATH}}/../htdocs"
    logs:            "{{STOW_PATH}}/../logs"
    server_ca:       "{{STOW_PATH}}/../conf/server-ca.crt"
    sites_enabled:   "{{HOME.stdout}}/conf/sites-enabled"
    sites_available: "{{HOME.stdout}}/conf/sites-available"
  https:
    enabled: True # False
    port: 8443    # 443
    domain: "{{ansible_fqdn}}"
    admin:  "no-reply@{{ansible_fqdn}}" # youremail@yourdomain.tld
    document_root: "{{STOW_PATH}}/../htdocs"
    ssl:
      certs_path: "{{HOME.stdout}}/certs"
      server_crt: "{{HOME.stdout}}/certs/{{ansible_fqdn}}.crt"
      server_key: "{{HOME.stdout}}/certs/{{ansible_fqdn}}.key"
      server_pwd: "{{HOME.stdout}}/certs/{{ansible_fqdn}}.pwd"
      CA_path:    "{{HOME.stdout}}/certs/CA"
      CA_cert:    "{{HOME.stdout}}/certs/CA/ca-bundle.pem"
      CA_roots:
        haxx: true
        cacert: true
      csr:
        country: "US"
        state:   "Maryland"
        city:    "Frederick"
        office:  "IT"
        common_name: "*.{{ansible_fqdn}}"
