---
# Control Machine Variables
LOCAL_ANSIBLE_ROOT: "../../../../provisioning"
LOCAL_SRC_PATH: "{{LOCAL_ANSIBLE_ROOT}}/src_files"

# Remote Node Variables
sysadmin:     "sysadmin" # User to install libraries & packages from source
deployer:     "deployer" # User to deploy Rails applications from
internal_tld: "dev"
STOW_PATH:    "{{HOME.stdout}}/opt/stow"
SRC_PATH:     "{{HOME.stdout}}/SUPPORT/src"
src_bash:     "source {{HOME.stdout}}/.bashrc;"

# Ruby Config
rvm_fw:
  enabled: yes # no
  url: "http://rvm-fw.slkdemos.com" # ""

rvm:
  packages:
    - libyaml creates={{HOME.stdout}}/.rvm/usr/lib/libyaml.a
    - zlib    --verify-downloads 1 creates={{HOME.stdout}}/.rvm/usr/lib/libz.so
    - readline creates={{HOME.stdout}}/.rvm/usr/lib/libreadline.so
    - iconv creates={{HOME.stdout}}/.rvm/usr/lib/libiconv.so
    - libxml2 --verify-downloads 1 creates={{HOME.stdout}}/.rvm/usr/lib/libxml2.so
    - libxslt --verify-downloads 1 creates={{HOME.stdout}}/.rvm/usr/lib/libxslt.so
    - ncurses --verify-downloads 1 creates={{HOME.stdout}}/.rvm/usr/lib/libncurses.so
    - openssl creates={{HOME.stdout}}/.rvm/usr/bin/openssl

ruby:
  version: "ruby-2.0.0-p353"
  gem_sources:
    add:
#      - http://ruby.{{internal_tld}}/
#      - http://ruby.{{internal_tld}}/
    delete:
      - http://rubygems.org/
#      - https://rubygems.org/
