---
# Control Machine Variables
LOCAL_ANSIBLE_ROOT: "../../../../provisioning"
LOCAL_SRC_PATH: "{{LOCAL_ANSIBLE_ROOT}}/src_files"

# Remote Node Variables
sysadmin:  "sysadmin" # User to install libraries & packages from source
deployer:  "deployer" # User to deploy Rails applications from
STOW_PATH: "{{HOME.stdout}}/opt/stow"
SRC_PATH:  "{{HOME.stdout}}/SUPPORT/src"
src_bash:  "source {{HOME.stdout}}/.bashrc;"

# RVM::FW Config
rvm_fw:
  enabled: yes # no
  url: "http://rvm-fw.slkdemos.com"  # ""
  ruby: "ruby-2.0.0-p353"
  packages:
    - libyaml
    - zlib    --verify-downloads 1
    - readline
    - iconv
    - libxml2 --verify-downloads 1
    - libxslt --verify-downloads 1
    - ncurses --verify-downloads 1
#    - openssl # Fix rc 1 being thrown by ssl cert issue
