---
# Control Machine Variables
#LOCAL_SRC_PATH: "src"
LOCAL_ANSIBLE_ROOT: "../../../../provisioning"
LOCAL_SRC_PATH: "{{LOCAL_ANSIBLE_ROOT}}/src_files"

# Remote Node Variables
sysadmin:  "sysadmin" # User to install libraries & packages from source
deployer:  "deployer" # User to deploy Rails applications from
STOW_PATH: "{{HOME.stdout}}/opt/stow"
SRC_PATH:  "{{HOME.stdout}}/SUPPORT/src"
src_bash:  "source {{HOME.stdout}}/.bashrc;"

# Package Variables
src:
  defaults: &defaults
    custom_folder: false
    prefix: ""
    suffix: ""
  git:
    <<:   *defaults
    url:  "https://git-core.googlecode.com/files/git-1.8.4.4.tar.gz"
    name: "git"
    ver:  "1.8.4.4"
    ext:  "tar.gz"
  libevent:
    <<:   *defaults
    url:  "https://github.com/downloads/libevent/libevent/libevent-2.0.21-stable.tar.gz"
    name: "libevent"
    ver:  "2.0.21"
    ext:  "tar.gz"
    suffix: "-stable"
  ncurses:
    <<:   *defaults
    url:  "ftp://ftp.gnu.org/gnu/ncurses/ncurses-5.9.tar.gz"
    name: "ncurses"
    ver:  "5.9"
    ext:  "tar.gz"
  stow:
    <<:   *defaults
    url:  "http://ftp.gnu.org/gnu/stow/stow-2.2.0.tar.bz2"
    name: "stow"
    ver:  "2.2.0"
    ext:  "tar.bz2"
  tmux:
    <<:   *defaults
    url:  "http://sourceforge.net/projects/tmux/files/tmux/tmux-1.8/tmux-1.8.tar.gz"
    name: "tmux"
    ver:  "1.8"
    ext:  "tar.gz"
