---
################
# Package vars #
################

src:
  defaults: &defaults
    custom_file_name: False # Modify for non-standard src file name
    custom_folder: False # Modify for non-standard folder after tarball is extracted
    prefix: ""
    suffix: ""
  expat:
    <<: *defaults
    # Save to expat-2.1.0.tar.gz, e.g. wget bit.ly/expat-210 -O expat-2.1.0.tar.gz
    url:  "http://bit.ly/expat-210"
    name: "expat"
    ver:  "2.1.0"
    ext:  "tar.gz"
  gcc:
    <<:   *defaults
    url:  "http://ftp.gnu.org/gnu/gcc/gcc-4.8.2/gcc-4.8.2.tar.bz2"
    name: "gcc"
    ver:  "4.8.2"
    ext:  "tar.bz2"
  git:
    <<:   *defaults
    url:  "https://git-core.googlecode.com/files/git-1.8.4.4.tar.gz"
    name: "git"
    ver:  "1.8.4.4"
    ext:  "tar.gz"
  gmp:
    <<:   *defaults
    url:  "ftp://ftp.gmplib.org/pub/gmp-5.1.3/gmp-5.1.3.tar.bz2"
    name: "gmp"
    ver:  "5.1.3"
    ext:  "tar.bz2"
  libevent:
    <<:   *defaults
    url:  "https://github.com/downloads/libevent/libevent/libevent-2.0.21-stable.tar.gz"
    name: "libevent"
    ver:  "2.0.21"
    ext:  "tar.gz"
    suffix: "-stable"
  mpc:
    <<:   *defaults
    url:  "http://www.multiprecision.org/mpc/download/mpc-1.0.1.tar.gz"
    name: "mpc"
    ver:  "1.0.1"
    ext:  "tar.gz"
  mpfr:
    <<:   *defaults
    url:  "http://www.mpfr.org/mpfr-3.1.2/mpfr-3.1.2.tar.xz"
    name: "mpfr"
    ver:  "3.1.2"
    ext:  "tar.xz"
  ncurses:
    <<:   *defaults
    url:  "ftp://ftp.gnu.org/gnu/ncurses/ncurses-5.9.tar.gz"
    name: "ncurses"
    ver:  "5.9"
    ext:  "tar.gz"
  openssl:
    <<:   *defaults
    # 1.0.1e throws an error when compiling with curl
    url:  "ftp://ftp.openssl.org/source/openssl-1.0.1c.tar.gz"
    name: "openssl"
    ver:  "1.0.1c"
    ext:  "tar.gz"
  stow:
    <<:   *defaults
    url:  "http://ftp.gnu.org/gnu/stow/stow-2.2.0.tar.bz2"
    name: "stow"
    ver:  "2.2.0"
    ext:  "tar.bz2"
  tmux:
    <<:   *defaults
    url:  "http://sourceforge.net/projects/tmux/files/tmux/tmux-1.8/tmux-1.8.tar.gz"
    name: "tmux"
    ver:  "1.8"
    ext:  "tar.gz"
# Ruby integrated packages
  vim:
    <<:   *defaults
    url:  "ftp://ftp.vim.org/pub/vim/unix/vim-7.3.tar.bz2"
    name: "vim"
    ver:  "7.3"
    ext:  "tar.bz2"
    custom_folder: "vim73"
# Apache packages
  apr:
    <<:   *defaults
    url:  "http://mirror.cc.columbia.edu/pub/software/apache//apr/apr-1.5.0.tar.bz2"
    name: "apr"
    ver:  "1.5.0"
    ext:  "tar.bz2"
  apr_util:
    <<:   *defaults
    url:  "http://mirror.cc.columbia.edu/pub/software/apache//apr/apr-util-1.5.3.tar.bz2"
    name: "apr-util"
    ver:  "1.5.3"
    ext:  "tar.bz2"
  httpd:
    <<:   *defaults
    url:  "http://www.apache.org/dist/httpd/httpd-2.4.7.tar.bz2"
    name: "httpd"
    ver:  "2.4.7"
    ext:  "tar.bz2"
  nginx:
    <<:   *defaults
    url:  "http://nginx.org/download/nginx-1.5.7.tar.gz"
    name: "nginx"
    ver:  "1.5.7"
    ext:  "tar.gz"
  pcre:
    <<:   *defaults
    url:  "ftp://ftp.csx.cam.ac.uk/pub/software/programming/pcre/pcre-8.33.tar.gz"
    name: "pcre"
    ver:  "8.33"
    ext:  "tar.gz"
# Python packages
  bzip2:
    <<:   *defaults
    url:  "http://www.bzip.org/1.0.6/bzip2-1.0.6.tar.gz"
    name: "bzip2"
    ver:  "1.0.6"
    ext:  "tar.gz"
  python:
    <<:   *defaults
    url:  "http://python.org/ftp/python/2.7.6/Python-2.7.6.tgz"
    name: "Python"
    ver:  "2.7.6"
    ext:  "tgz"
# Node.js packages
  node:
    <<:   *defaults
    url:  "http://nodejs.org/dist/v0.10.22/node-v0.10.22.tar.gz"
    name: "node"
    ver:  "v0.10.22"
    ext:  "tar.gz"
# Rails packages
  curl:
    <<:   *defaults
    url:  "http://curl.haxx.se/download/curl-7.33.0.tar.gz"
    name: "curl"
    ver:  "7.33.0"
    ext:  "tar.gz"
  passenger:
    <<:   *defaults
    url:  "http://s3.amazonaws.com/phusion-passenger/releases/passenger-4.0.35.tar.gz"
    name: "passenger"
    ver:  "4.0.35"
    ext:  "tar.gz"
  zlib:
    <<:   *defaults
    url:  "http://zlib.net/zlib-1.2.8.tar.gz"
    name: "zlib"
    ver:  "1.2.8"
    ext:  "tar.gz"
